/* 대화 본문 */
.chat-room {
  width: 100%;
  height: calc(100%);
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}

.chat-room::-webkit-scrollbar {
  display: none;
}

/* typing css */
.chat-room .typing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.chat-room .typing span {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: block;
  margin: 7px 0;
}
.chat-room .typing span:nth-child(1) {
  background-color: #d9d9d9;
  animation: bounce 1s infinite;
  animation-delay: 0;
}
.chat-room .typing span:nth-child(2) {
  background-color: #b8b8b8;
  animation: bounce 1s infinite;
  animation-delay: 0.1s;
}
.chat-room .typing span:nth-child(3) {
  background-color: #9b9b9b;
  animation: bounce 1s infinite;
  animation-delay: 0.2s;
}
@keyframes bounce {
  0% {
    transform: scale(80%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(80%);
  }
}
