/* 입력창 */
.chat-footer {
  width: 100%;

  display: flex;
  gap: 8px;

  padding: 12px;
  box-sizing: border-box;
}

/* 입력창 객체 */
.text_input {
  flex: 1;

  border-radius: 8px;
  border: 1px solid #ddd;

  padding: 8px 12px;
}

.send_btn {
  background-color: #4084f1;
  color: white;
}

@media (hover: hover) and (pointer: fine) {
  .send_btn:hover {
    background-color: #437fe0;
    color: rgb(235, 235, 235);
  }
}
