/* 메시지 */
.msg {
  max-width: 230px;

  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ddd;

  display: inline-block;

  box-sizing: border-box;
  word-break: break-all;
  overflow: hidden;

  padding: 2px 12px;
  margin: 4px 0;
}

[data-writer='admin'] .msg {
  background-color: #ddd;
}
[data-writer='client'] .msg {
  background-color: white;
}

/* 수신/발신인 메시지 위치 구분 */
[data-writer='client'] {
  display: flex;
  justify-content: end;
}
[data-writer='admin'] {
  display: flex;
  justify-content: start;
}
